<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.mapper.IUupmAccountMapper">


	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> uupm_account </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION as version, t.DEL_FLAG as delFlag, t.CREATE_BY as createBy, t.CREATE_TIME as createTime, t.UPDATE_BY as updateBy, 
		t.UPDATE_TIME as updateTime, t.ID as id, t.TENANT_CODE as tenantCode, t.ACCOUNT_ID as accountId, t.ACCOUNT_PWD as accountPwd, 
		t.ACCOUNT_STATUS as accountStatus, t.ACCOUNT_TYPE as accountType, t.NICK_NAME as nickName, t.ONLINE as online, t.SALT as salt, 
		t.VISIT_COUNT as visitCount, t.VISIT_FIRST as visitFirst, t.VISIT_IP as visitIp, t.VISIT_LAST as visitLast, t.VISIT_PREVIOUS as visitPrevious
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="paramPage != null"> limit #{paramPage.startIndex}, #{paramPage.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby"> ORDER BY t.CREATE_TIME desc </sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="paramPo != null">
			<!-- Equal query -->
			<if test="paramPo.version != null "> and t.VERSION = #{paramPo.version} </if>
			<if test="paramPo.delFlag != null and paramPo.delFlag != ''"> and t.DEL_FLAG = #{paramPo.delFlag} </if>
			<if test="paramPo.createBy != null and paramPo.createBy != ''"> and t.CREATE_BY = #{paramPo.createBy} </if>
			<if test="paramPo.createTime != null "><![CDATA[ and t.CREATE_TIME = #{paramPo.createTime}]]> </if>
			<if test="paramPo.updateBy != null and paramPo.updateBy != ''"> and t.UPDATE_BY = #{paramPo.updateBy} </if>
			<if test="paramPo.updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{paramPo.updateTime}]]> </if>
			<if test="paramPo.id != null and paramPo.id != ''"> and t.ID = #{paramPo.id} </if>
			<if test="paramPo.tenantCode != null and paramPo.tenantCode != ''"> and t.TENANT_CODE = #{paramPo.tenantCode} </if>
			<if test="paramPo.accountId != null and paramPo.accountId != ''"> and t.ACCOUNT_ID = #{paramPo.accountId} </if>
			<if test="paramPo.accountPwd != null and paramPo.accountPwd != ''"> and t.ACCOUNT_PWD = #{paramPo.accountPwd} </if>
			<if test="paramPo.accountStatus != null and paramPo.accountStatus != ''"> and t.ACCOUNT_STATUS = #{paramPo.accountStatus} </if>
			<if test="paramPo.accountType != null and paramPo.accountType != ''"> and t.ACCOUNT_TYPE = #{paramPo.accountType} </if>
			<if test="paramPo.online != null and paramPo.online != ''"> and t.ONLINE = #{paramPo.online} </if>
			<if test="paramPo.salt != null and paramPo.salt != ''"> and t.SALT = #{paramPo.salt} </if>
			<if test="paramPo.visitCount != null "> and t.VISIT_COUNT = #{paramPo.visitCount} </if>
			<if test="paramPo.visitFirst != null "><![CDATA[ and t.VISIT_FIRST = #{paramPo.visitFirst}]]> </if>
			<if test="paramPo.visitIp != null and paramPo.visitIp != ''"> and t.VISIT_IP = #{paramPo.visitIp} </if>
			<if test="paramPo.visitLast != null "><![CDATA[ and t.VISIT_LAST = #{paramPo.visitLast}]]> </if>
			<if test="paramPo.visitPrevious != null "><![CDATA[ and t.VISIT_PREVIOUS = #{paramPo.visitPrevious}]]> </if>
			<!-- Like query -->
			<if test="paramPo.nickName != null and paramPo.nickName != ''"> and t.NICK_NAME like CONCAT(CONCAT('%', #{paramPo.nickName}), '%') </if>
		</if>
		<!-- 非model属性：in条件处理拼写 -->
		<if test="paramMap != null">
			<if test="paramMap.accountIdList != null and paramMap.accountIdList.size()>0">
			and t.ACCOUNT_ID in <foreach item="item" index="index" collection="paramMap.accountIdList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountPwdList != null and paramMap.accountPwdList.size()>0">
			and t.ACCOUNT_PWD in <foreach item="item" index="index" collection="paramMap.accountPwdList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountStatusList != null and paramMap.accountStatusList.size()>0">
			and t.ACCOUNT_STATUS in <foreach item="item" index="index" collection="paramMap.accountStatusList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountTypeList != null and paramMap.accountTypeList.size()>0">
			and t.ACCOUNT_TYPE in <foreach item="item" index="index" collection="paramMap.accountTypeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.idList != null and paramMap.idList.size()>0">
			and t.ID in <foreach item="item" index="index" collection="paramMap.idList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.nickNameList != null and paramMap.nickNameList.size()>0">
			and t.NICK_NAME in <foreach item="item" index="index" collection="paramMap.nickNameList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.onlineList != null and paramMap.onlineList.size()>0">
			and t.ONLINE in <foreach item="item" index="index" collection="paramMap.onlineList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.saltList != null and paramMap.saltList.size()>0">
			and t.SALT in <foreach item="item" index="index" collection="paramMap.saltList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.tenantCodeList != null and paramMap.tenantCodeList.size()>0">
			and t.TENANT_CODE in <foreach item="item" index="index" collection="paramMap.tenantCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.visitCountList != null and paramMap.visitCountList.size()>0">
			and t.VISIT_COUNT in <foreach item="item" index="index" collection="paramMap.visitCountList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.visitIpList != null and paramMap.visitIpList.size()>0">
			and t.VISIT_IP in <foreach item="item" index="index" collection="paramMap.visitIpList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.api.model.UupmAccountModel">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.api.model.UupmAccountModel">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOne" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TENANT_CODE, ACCOUNT_ID, ACCOUNT_PWD, ACCOUNT_STATUS, ACCOUNT_TYPE, NICK_NAME, ONLINE, SALT, VISIT_COUNT, VISIT_FIRST, VISIT_IP, VISIT_LAST, VISIT_PREVIOUS)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{tenantCode}, #{accountId}, #{accountPwd}, #{accountStatus}, #{accountType}, #{nickName}, #{online}, #{salt}, #{visitCount}, #{visitFirst}, #{visitIp}, #{visitLast}, #{visitPrevious})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertList" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TENANT_CODE, ACCOUNT_ID, ACCOUNT_PWD, ACCOUNT_STATUS, ACCOUNT_TYPE, NICK_NAME, ONLINE, SALT, VISIT_COUNT, VISIT_FIRST, VISIT_IP, VISIT_LAST, VISIT_PREVIOUS)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},
		#{item.delFlag},
		#{item.createBy},
		#{item.createTime},
		#{item.updateBy},
		#{item.updateTime},
		#{item.tenantCode},
		#{item.accountId},
		#{item.accountPwd},
		#{item.accountStatus},
		#{item.accountType},
		#{item.nickName},
		#{item.online},
		#{item.salt},
		#{item.visitCount},
		#{item.visitFirst},
		#{item.visitIp},
		#{item.visitLast},
		#{item.visitPrevious})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="paramPo != null">
			VERSION = VERSION + 1, 
			<if test="paramPo.delFlag != null and paramPo.delFlag != ''"> DEL_FLAG = #{paramPo.delFlag},  </if>
			<if test="paramPo.updateBy != null and paramPo.updateBy != ''"> UPDATE_BY = #{paramPo.updateBy},  </if>
			<if test="paramPo.updateTime != null"> UPDATE_TIME = #{paramPo.updateTime},  </if>
			<if test="paramPo.tenantCode != null and paramPo.tenantCode != ''"> TENANT_CODE = #{paramPo.tenantCode},  </if>
			<if test="paramPo.accountId != null and paramPo.accountId != ''"> ACCOUNT_ID = #{paramPo.accountId},  </if>
			<if test="paramPo.accountPwd != null and paramPo.accountPwd != ''"> ACCOUNT_PWD = #{paramPo.accountPwd},  </if>
			<if test="paramPo.accountStatus != null and paramPo.accountStatus != ''"> ACCOUNT_STATUS = #{paramPo.accountStatus},  </if>
			<if test="paramPo.accountType != null and paramPo.accountType != ''"> ACCOUNT_TYPE = #{paramPo.accountType},  </if>
			<if test="paramPo.nickName != null and paramPo.nickName != ''"> NICK_NAME = #{paramPo.nickName},  </if>
			<if test="paramPo.online != null and paramPo.online != ''"> ONLINE = #{paramPo.online},  </if>
			<if test="paramPo.salt != null and paramPo.salt != ''"> SALT = #{paramPo.salt},  </if>
			<if test="paramPo.visitCount != null"> VISIT_COUNT = #{paramPo.visitCount},  </if>
			<if test="paramPo.visitFirst != null"> VISIT_FIRST = #{paramPo.visitFirst},  </if>
			<if test="paramPo.visitIp != null and paramPo.visitIp != ''"> VISIT_IP = #{paramPo.visitIp},  </if>
			<if test="paramPo.visitLast != null"> VISIT_LAST = #{paramPo.visitLast},  </if>
			<if test="paramPo.visitPrevious != null"> VISIT_PREVIOUS = #{paramPo.visitPrevious},  </if>
		</if>
		</set>
		<where>
		<if test="paramPoOld != null">
			<if test="paramPoOld.version != null"> and VERSION = #{paramPoOld.version}  </if>
			<if test="paramPoOld.delFlag != null and paramPoOld.delFlag != ''"> and DEL_FLAG = #{paramPoOld.delFlag}  </if>
			<if test="paramPoOld.createBy != null and paramPoOld.createBy != ''"> and CREATE_BY = #{paramPoOld.createBy}  </if>
			<if test="paramPoOld.createTime != null"><![CDATA[ and CREATE_TIME = #{paramPoOld.createTime} ]]> </if>
			<if test="paramPoOld.id != null and paramPoOld.id != ''"> and ID = #{paramPoOld.id}  </if>
			<if test="paramPoOld.tenantCode != null and paramPoOld.tenantCode != ''"> and TENANT_CODE = #{paramPoOld.tenantCode}  </if>
			<if test="paramPoOld.accountId != null and paramPoOld.accountId != ''"> and ACCOUNT_ID = #{paramPoOld.accountId}  </if>
			<if test="paramPoOld.accountPwd != null and paramPoOld.accountPwd != ''"> and ACCOUNT_PWD = #{paramPoOld.accountPwd}  </if>
			<if test="paramPoOld.accountStatus != null and paramPoOld.accountStatus != ''"> and ACCOUNT_STATUS = #{paramPoOld.accountStatus}  </if>
			<if test="paramPoOld.accountType != null and paramPoOld.accountType != ''"> and ACCOUNT_TYPE = #{paramPoOld.accountType}  </if>
			<if test="paramPoOld.nickName != null and paramPoOld.nickName != ''"> and NICK_NAME = #{paramPoOld.nickName}  </if>
			<if test="paramPoOld.online != null and paramPoOld.online != ''"> and ONLINE = #{paramPoOld.online}  </if>
			<if test="paramPoOld.salt != null and paramPoOld.salt != ''"> and SALT = #{paramPoOld.salt}  </if>
			<if test="paramPoOld.visitCount != null"> and VISIT_COUNT = #{paramPoOld.visitCount}  </if>
			<if test="paramPoOld.visitFirst != null"><![CDATA[ and VISIT_FIRST = #{paramPoOld.visitFirst} ]]> </if>
			<if test="paramPoOld.visitIp != null and paramPoOld.visitIp != ''"> and VISIT_IP = #{paramPoOld.visitIp}  </if>
			<if test="paramPoOld.visitLast != null"><![CDATA[ and VISIT_LAST = #{paramPoOld.visitLast} ]]> </if>
			<if test="paramPoOld.visitPrevious != null"><![CDATA[ and VISIT_PREVIOUS = #{paramPoOld.visitPrevious} ]]> </if>
		</if>
		<!-- 非model属性：in条件处理拼写 -->
		<if test="paramMap != null">
			<if test="paramMap.accountIdList != null and paramMap.accountIdList.size()>0">
			and ACCOUNT_ID in <foreach item="item" index="index" collection="paramMap.accountIdList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountPwdList != null and paramMap.accountPwdList.size()>0">
			and ACCOUNT_PWD in <foreach item="item" index="index" collection="paramMap.accountPwdList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountStatusList != null and paramMap.accountStatusList.size()>0">
			and ACCOUNT_STATUS in <foreach item="item" index="index" collection="paramMap.accountStatusList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountTypeList != null and paramMap.accountTypeList.size()>0">
			and ACCOUNT_TYPE in <foreach item="item" index="index" collection="paramMap.accountTypeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.idList != null and paramMap.idList.size()>0">
			and ID in <foreach item="item" index="index" collection="paramMap.idList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.nickNameList != null and paramMap.nickNameList.size()>0">
			and NICK_NAME in <foreach item="item" index="index" collection="paramMap.nickNameList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.onlineList != null and paramMap.onlineList.size()>0">
			and ONLINE in <foreach item="item" index="index" collection="paramMap.onlineList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.saltList != null and paramMap.saltList.size()>0">
			and SALT in <foreach item="item" index="index" collection="paramMap.saltList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.tenantCodeList != null and paramMap.tenantCodeList.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="paramMap.tenantCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.visitCountList != null and paramMap.visitCountList.size()>0">
			and VISIT_COUNT in <foreach item="item" index="index" collection="paramMap.visitCountList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.visitIpList != null and paramMap.visitIpList.size()>0">
			and VISIT_IP in <foreach item="item" index="index" collection="paramMap.visitIpList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		<!-- 防止没有参数传递，导致全部更新 -->
		or 1=2
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<if test="paramPo != null">
			<if test="paramPo.version != null "> and VERSION = #{paramPo.version} </if>
			<if test="paramPo.delFlag != null and paramPo.delFlag != ''"> and DEL_FLAG = #{paramPo.delFlag} </if>
			<if test="paramPo.createBy != null and paramPo.createBy != ''"> and CREATE_BY = #{paramPo.createBy} </if>
			<if test="paramPo.createTime != null "><![CDATA[ and CREATE_TIME = #{paramPo.createTime}]]> </if>
			<if test="paramPo.updateBy != null and paramPo.updateBy != ''"> and UPDATE_BY = #{paramPo.updateBy} </if>
			<if test="paramPo.updateTime != null "><![CDATA[ and UPDATE_TIME = #{paramPo.updateTime}]]> </if>
			<if test="paramPo.id != null and paramPo.id != ''"> and ID = #{paramPo.id} </if>
			<if test="paramPo.tenantCode != null and paramPo.tenantCode != ''"> and TENANT_CODE = #{paramPo.tenantCode} </if>
			<if test="paramPo.accountId != null and paramPo.accountId != ''"> and ACCOUNT_ID = #{paramPo.accountId} </if>
			<if test="paramPo.accountPwd != null and paramPo.accountPwd != ''"> and ACCOUNT_PWD = #{paramPo.accountPwd} </if>
			<if test="paramPo.accountStatus != null and paramPo.accountStatus != ''"> and ACCOUNT_STATUS = #{paramPo.accountStatus} </if>
			<if test="paramPo.accountType != null and paramPo.accountType != ''"> and ACCOUNT_TYPE = #{paramPo.accountType} </if>
			<if test="paramPo.nickName != null and paramPo.nickName != ''"> and NICK_NAME = #{paramPo.nickName} </if>
			<if test="paramPo.online != null and paramPo.online != ''"> and ONLINE = #{paramPo.online} </if>
			<if test="paramPo.salt != null and paramPo.salt != ''"> and SALT = #{paramPo.salt} </if>
			<if test="paramPo.visitCount != null "> and VISIT_COUNT = #{paramPo.visitCount} </if>
			<if test="paramPo.visitFirst != null "><![CDATA[ and VISIT_FIRST = #{paramPo.visitFirst}]]> </if>
			<if test="paramPo.visitIp != null and paramPo.visitIp != ''"> and VISIT_IP = #{paramPo.visitIp} </if>
			<if test="paramPo.visitLast != null "><![CDATA[ and VISIT_LAST = #{paramPo.visitLast}]]> </if>
			<if test="paramPo.visitPrevious != null "><![CDATA[ and VISIT_PREVIOUS = #{paramPo.visitPrevious}]]> </if>
		</if>
		<!-- 非model属性：in条件处理拼写 -->
		<if test="paramMap != null">
			<if test="paramMap.accountIdList != null and paramMap.accountIdList.size()>0">
			and ACCOUNT_ID in <foreach item="item" index="index" collection="paramMap.accountIdList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountPwdList != null and paramMap.accountPwdList.size()>0">
			and ACCOUNT_PWD in <foreach item="item" index="index" collection="paramMap.accountPwdList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountStatusList != null and paramMap.accountStatusList.size()>0">
			and ACCOUNT_STATUS in <foreach item="item" index="index" collection="paramMap.accountStatusList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.accountTypeList != null and paramMap.accountTypeList.size()>0">
			and ACCOUNT_TYPE in <foreach item="item" index="index" collection="paramMap.accountTypeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.idList != null and paramMap.idList.size()>0">
			and ID in <foreach item="item" index="index" collection="paramMap.idList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.nickNameList != null and paramMap.nickNameList.size()>0">
			and NICK_NAME in <foreach item="item" index="index" collection="paramMap.nickNameList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.onlineList != null and paramMap.onlineList.size()>0">
			and ONLINE in <foreach item="item" index="index" collection="paramMap.onlineList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.saltList != null and paramMap.saltList.size()>0">
			and SALT in <foreach item="item" index="index" collection="paramMap.saltList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.tenantCodeList != null and paramMap.tenantCodeList.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="paramMap.tenantCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.visitCountList != null and paramMap.visitCountList.size()>0">
			and VISIT_COUNT in <foreach item="item" index="index" collection="paramMap.visitCountList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.visitIpList != null and paramMap.visitIpList.size()>0">
			and VISIT_IP in <foreach item="item" index="index" collection="paramMap.visitIpList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		<!-- 防止没有参数传递，导致全部删除 -->
		or 1=2
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

</mapper>
