<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.dao.UupmResourceDao">
	<!-- ######################################################################### -->
	<!-- ##############################   基础sql开始    ############################## -->
	<!-- ######################################################################### -->
	
	<resultMap id="resutlId" type="com.yffd.easy.uupm.api.model.UupmResourceModel">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="DEL_FLAG" property="delFlag" />
		<result column="CREATE_BY" property="createBy" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_BY" property="updateBy" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="APP_CODE" property="appCode" />
		<result column="PARENT_CODE" property="parentCode" />
		<result column="REMARK" property="remark" />
		<result column="RS_CODE" property="rsCode" />
		<result column="RS_NAME" property="rsName" />
		<result column="RS_PATH" property="rsPath" />
		<result column="RS_STATUS" property="rsStatus" />
		<result column="RS_TYPE" property="rsType" />
	</resultMap>

	<!-- 表名 -->
	<sql id="table_name"> uupm_resource </sql>

	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION, t.DEL_FLAG, t.CREATE_BY, t.CREATE_TIME, t.UPDATE_BY, t.UPDATE_TIME, t.ID, t.APP_CODE, t.PARENT_CODE, t.REMARK, t.RS_CODE, t.RS_NAME, t.RS_PATH, t.RS_STATUS, t.RS_TYPE
	</sql>

	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="pageParam != null"> limit #{pageParam.pageStartRow}, #{pageParam.pageLimit} </if></sql>

	<!-- 排序条件 -->
	<sql id="conditions_orderby"> ORDER BY t.CREATE_TIME desc </sql>

	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<!-- Equal query -->
		<if test="version != null "> and t.VERSION = #{version} </if>
		<if test="delFlag != null and delFlag != ''"> and t.DEL_FLAG = #{delFlag} </if>
		<if test="createBy != null and createBy != ''"> and t.CREATE_BY = #{createBy} </if>
		<if test="createTime != null "><![CDATA[ and t.CREATE_TIME = #{createTime}]]> </if>
		<if test="updateBy != null and updateBy != ''"> and t.UPDATE_BY = #{updateBy} </if>
		<if test="updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{updateTime}]]> </if>
		<if test="id != null and id != ''"> and t.ID = #{id} </if>
		<if test="appCode != null and appCode != ''"> and t.APP_CODE = #{appCode} </if>
		<if test="parentCode != null and parentCode != ''"> and t.PARENT_CODE = #{parentCode} </if>
		<if test="remark != null and remark != ''"> and t.REMARK = #{remark} </if>
		<if test="rsCode != null and rsCode != ''"> and t.RS_CODE = #{rsCode} </if>
		<if test="rsPath != null and rsPath != ''"> and t.RS_PATH = #{rsPath} </if>
		<if test="rsStatus != null and rsStatus != ''"> and t.RS_STATUS = #{rsStatus} </if>
		<if test="rsType != null and rsType != ''"> and t.RS_TYPE = #{rsType} </if>
		<!-- Like query -->
		<if test="rsName != null and rsName != ''"> and t.RS_NAME like CONCAT(CONCAT('%', #{rsName}), '%') </if>
	</sql>

	<!-- 分页查询 -->
	<select id="selectRangeBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" />
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>

	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" />
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
	</select>

	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		select count(1) from 
		<include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>

	<!-- in条件查询 -->
	<select id="selectListByIds" parameterType="java.util.List" resultMap="resutlId">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/>  as t 
		<where>
			t.ID in 
			<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>
		</where>
	</select>

	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>

	<!-- 单条插入 -->
	<insert id="insertOne" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, APP_CODE, PARENT_CODE, REMARK, RS_CODE, RS_NAME, RS_PATH, RS_STATUS, RS_TYPE)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{appCode}, #{parentCode}, #{remark}, #{rsCode}, #{rsName}, #{rsPath}, #{rsStatus}, #{rsType})
	</insert>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, APP_CODE, PARENT_CODE, REMARK, RS_CODE, RS_NAME, RS_PATH, RS_STATUS, RS_TYPE)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},
		#{item.delFlag},
		#{item.createBy},
		#{item.createTime},
		#{item.updateBy},
		#{item.updateTime},
		#{item.appCode},
		#{item.parentCode},
		#{item.remark},
		#{item.rsCode},
		#{item.rsName},
		#{item.rsPath},
		#{item.rsStatus},
		#{item.rsType})
		</foreach>
	</insert>

	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		VERSION = VERSION + 1, 
		<if test="delFlag != null and delFlag != ''"> DEL_FLAG = #{delFlag},  </if>
		<if test="createBy != null and createBy != ''"> CREATE_BY = #{createBy},  </if>
		<if test="updateBy != null and updateBy != ''"> UPDATE_BY = #{updateBy},  </if>
		<if test="updateTime != null "> UPDATE_TIME = #{updateTime},  </if>
		<if test="appCode != null and appCode != ''"> APP_CODE = #{appCode},  </if>
		<if test="parentCode != null and parentCode != ''"> PARENT_CODE = #{parentCode},  </if>
		<if test="remark != null and remark != ''"> REMARK = #{remark},  </if>
		<if test="rsCode != null and rsCode != ''"> RS_CODE = #{rsCode},  </if>
		<if test="rsName != null and rsName != ''"> RS_NAME = #{rsName},  </if>
		<if test="rsPath != null and rsPath != ''"> RS_PATH = #{rsPath},  </if>
		<if test="rsStatus != null and rsStatus != ''"> RS_STATUS = #{rsStatus},  </if>
		<if test="rsType != null and rsType != ''"> RS_TYPE = #{rsType},  </if>
		</set>
		<where>
			ID = #{id}
			<if test="version != null "> and VERSION = #{version} </if>
		</where>
	</update>

	<!-- 批量更新 -->
	<update id="updateBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
		update <include refid="table_name" />
		<set>
		VERSION = VERSION + 1, 
		<if test="item.delFlag != null and item.delFlag != ''"> DEL_FLAG = #{item.delFlag},  </if>
		<if test="item.createBy != null and item.createBy != ''"> CREATE_BY = #{item.createBy},  </if>
		<if test="item.createTime != null "> CREATE_TIME = #{item.createTime},  </if>
		<if test="item.updateBy != null and item.updateBy != ''"> UPDATE_BY = #{item.updateBy},  </if>
		<if test="item.updateTime != null "> UPDATE_TIME = #{item.updateTime},  </if>
		<if test="item.appCode != null and item.appCode != ''"> APP_CODE = #{item.appCode},  </if>
		<if test="item.parentCode != null and item.parentCode != ''"> PARENT_CODE = #{item.parentCode},  </if>
		<if test="item.remark != null and item.remark != ''"> REMARK = #{item.remark},  </if>
		<if test="item.rsCode != null and item.rsCode != ''"> RS_CODE = #{item.rsCode},  </if>
		<if test="item.rsName != null and item.rsName != ''"> RS_NAME = #{item.rsName},  </if>
		<if test="item.rsPath != null and item.rsPath != ''"> RS_PATH = #{item.rsPath},  </if>
		<if test="item.rsStatus != null and item.rsStatus != ''"> RS_STATUS = #{item.rsStatus},  </if>
		<if test="item.rsType != null and item.rsType != ''"> RS_TYPE = #{item.rsType},  </if>
		</set>
		<where>
			ID = #{item.id}
			<if test="item.version != null "> and VERSION = #{item.version} </if>
		</where>
		</foreach>
	</update>

	<!-- 主键删除 -->
<!-- 	<delete id="deleteById" parameterType="java.lang.String"> -->
<!-- 		delete from <include refid="table_name" /> where ID = #{_parameter} -->
<!-- 	</delete> -->

	<!-- 主键批量删除 -->
<!-- 	<delete id="deleteByIds" parameterType="java.util.List"> -->
<!-- 		delete from <include refid="table_name" />  -->
<!-- 		where ID in  -->
<!-- 		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach> -->
<!-- 	</delete> -->

	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<if test="version != null "> and VERSION = #{version} </if>
		<if test="delFlag != null and delFlag != ''"> and DEL_FLAG = #{delFlag} </if>
		<if test="createBy != null and createBy != ''"> and CREATE_BY = #{createBy} </if>
		<if test="createTime != null "><![CDATA[ and CREATE_TIME = #{createTime}]]> </if>
		<if test="updateBy != null and updateBy != ''"> and UPDATE_BY = #{updateBy} </if>
		<if test="updateTime != null "><![CDATA[ and UPDATE_TIME = #{updateTime}]]> </if>
		<if test="id != null and id != ''"> and ID = #{id} </if>
		<if test="appCode != null and appCode != ''"> and APP_CODE = #{appCode} </if>
		<if test="parentCode != null and parentCode != ''"> and PARENT_CODE = #{parentCode} </if>
		<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		<if test="rsCode != null and rsCode != ''"> and RS_CODE = #{rsCode} </if>
		<if test="rsName != null and rsName != ''"> and RS_NAME = #{rsName} </if>
		<if test="rsPath != null and rsPath != ''"> and RS_PATH = #{rsPath} </if>
		<if test="rsStatus != null and rsStatus != ''"> and RS_STATUS = #{rsStatus} </if>
		<if test="rsType != null and rsType != ''"> and RS_TYPE = #{rsType} </if>
		
		<!-- 批量处理拼写，要求List集合的值能转换成map形式 -->
		<if test="idList != null and idList.size()>0">
		and ID in <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">#{item.id}</foreach>
		</if>
		<if test="appCodeList != null and appCodeList.size()>0">
		and APP_CODE in <foreach item="item" index="index" collection="appCodeList" open="(" separator="," close=")">#{item.appCode}</foreach>
		</if>
		<if test="parentCodeList != null and parentCodeList.size()>0">
		and PARENT_CODE in <foreach item="item" index="index" collection="parentCodeList" open="(" separator="," close=")">#{item.parentCode}</foreach>
		</if>
		<if test="rsCodeList != null and rsCodeList.size()>0">
		and RS_CODE in <foreach item="item" index="index" collection="rsCodeList" open="(" separator="," close=")">#{item.rsCode}</foreach>
		</if>
		<if test="rsNameList != null and rsNameList.size()>0">
		and RS_NAME in <foreach item="item" index="index" collection="rsNameList" open="(" separator="," close=")">#{item.rsName}</foreach>
		</if>
		<if test="rsPathList != null and rsPathList.size()>0">
		and RS_PATH in <foreach item="item" index="index" collection="rsPathList" open="(" separator="," close=")">#{item.rsPath}</foreach>
		</if>
		<if test="rsStatusList != null and rsStatusList.size()>0">
		and RS_STATUS in <foreach item="item" index="index" collection="rsStatusList" open="(" separator="," close=")">#{item.rsStatus}</foreach>
		</if>
		<if test="rsTypeList != null and rsTypeList.size()>0">
		and RS_TYPE in <foreach item="item" index="index" collection="rsTypeList" open="(" separator="," close=")">#{item.rsType}</foreach>
		</if>
		
		<!-- 防止没有参数传递，导致全部删除 -->
		or 1=2
		
		</where>
	</delete>
	
	<!-- ######################################################################### -->
	<!-- ##############################   基础sql结束    ############################## -->
	<!-- ######################################################################### -->

	<select id="selectResWithApp" parameterType="java.util.Map" resultType="java.util.Map">
		select APP_NAME as rsName, APP_CODE as rsCode,  '-1' parentCode from uupm_application
		<where>
		<if test="appCode != null and appCode != ''"> and APP_CODE = #{appCode} </if>
		</where>
		union all
		select RS_NAME as rsName, RS_CODE as rsCode, PARENT_CODE as parentCode from uupm_resource
		<where>
		<if test="rsType != null and rsType != ''"> and RS_TYPE = #{rsType} </if>
		<if test="appCode != null and appCode != ''"> and APP_CODE = #{appCode} </if>
		</where>
	</select>
</mapper>
