<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.mapper.IUupmApplicationMapper">


	<!-- ######################################################################### -->
	<!-- #########################   common sql begin    ######################### -->
	<!-- ######################################################################### -->
	
	<!-- 表名 -->
	<sql id="table_name"> uupm_application </sql>
	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION as version, t.DEL_FLAG as delFlag, t.CREATE_BY as createBy, t.CREATE_TIME as createTime, t.UPDATE_BY as updateBy, 
		t.UPDATE_TIME as updateTime, t.ID as id, t.TENANT_CODE as tenantCode, t.APP_CODE as appCode, t.APP_CONTEXT_PATH as appContextPath, 
		t.APP_DOMAIN as appDomain, t.APP_NAME as appName, t.APP_PORT as appPort, t.APP_STATUS as appStatus, t.APP_TYPE as appType, 
		t.REMARK as remark
	</sql>
	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="paramPage != null"> limit #{paramPage.startIndex}, #{paramPage.pageLimit} </if></sql>
	<!-- 排序条件 -->
	<sql id="conditions_orderby"> ORDER BY t.CREATE_TIME desc </sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<if test="paramPo != null">
			<!-- Equal query -->
			<if test="paramPo.version != null "> and t.VERSION = #{paramPo.version} </if>
			<if test="paramPo.delFlag != null and paramPo.delFlag != ''"> and t.DEL_FLAG = #{paramPo.delFlag} </if>
			<if test="paramPo.createBy != null and paramPo.createBy != ''"> and t.CREATE_BY = #{paramPo.createBy} </if>
			<if test="paramPo.createTime != null "><![CDATA[ and t.CREATE_TIME = #{paramPo.createTime}]]> </if>
			<if test="paramPo.updateBy != null and paramPo.updateBy != ''"> and t.UPDATE_BY = #{paramPo.updateBy} </if>
			<if test="paramPo.updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{paramPo.updateTime}]]> </if>
			<if test="paramPo.id != null and paramPo.id != ''"> and t.ID = #{paramPo.id} </if>
			<if test="paramPo.tenantCode != null and paramPo.tenantCode != ''"> and t.TENANT_CODE = #{paramPo.tenantCode} </if>
			<if test="paramPo.appCode != null and paramPo.appCode != ''"> and t.APP_CODE = #{paramPo.appCode} </if>
			<if test="paramPo.appContextPath != null and paramPo.appContextPath != ''"> and t.APP_CONTEXT_PATH = #{paramPo.appContextPath} </if>
			<if test="paramPo.appDomain != null and paramPo.appDomain != ''"> and t.APP_DOMAIN = #{paramPo.appDomain} </if>
			<if test="paramPo.appPort != null and paramPo.appPort != ''"> and t.APP_PORT = #{paramPo.appPort} </if>
			<if test="paramPo.appStatus != null and paramPo.appStatus != ''"> and t.APP_STATUS = #{paramPo.appStatus} </if>
			<if test="paramPo.appType != null and paramPo.appType != ''"> and t.APP_TYPE = #{paramPo.appType} </if>
			<!-- Like query -->
			<if test="paramPo.appName != null and paramPo.appName != ''"> and t.APP_NAME like CONCAT(CONCAT('%', #{paramPo.appName}), '%') </if>
		</if>
		<!-- 非model属性：in条件处理拼写 -->
		<if test="paramMap != null">
			<if test="paramMap.appCodeList != null and paramMap.appCodeList.size()>0">
			and t.APP_CODE in <foreach item="item" index="index" collection="paramMap.appCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appContextPathList != null and paramMap.appContextPathList.size()>0">
			and t.APP_CONTEXT_PATH in <foreach item="item" index="index" collection="paramMap.appContextPathList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appDomainList != null and paramMap.appDomainList.size()>0">
			and t.APP_DOMAIN in <foreach item="item" index="index" collection="paramMap.appDomainList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appNameList != null and paramMap.appNameList.size()>0">
			and t.APP_NAME in <foreach item="item" index="index" collection="paramMap.appNameList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appPortList != null and paramMap.appPortList.size()>0">
			and t.APP_PORT in <foreach item="item" index="index" collection="paramMap.appPortList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appStatusList != null and paramMap.appStatusList.size()>0">
			and t.APP_STATUS in <foreach item="item" index="index" collection="paramMap.appStatusList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appTypeList != null and paramMap.appTypeList.size()>0">
			and t.APP_TYPE in <foreach item="item" index="index" collection="paramMap.appTypeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.idList != null and paramMap.idList.size()>0">
			and t.ID in <foreach item="item" index="index" collection="paramMap.idList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.tenantCodeList != null and paramMap.tenantCodeList.size()>0">
			and t.TENANT_CODE in <foreach item="item" index="index" collection="paramMap.tenantCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
	</sql>
	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.api.model.UupmApplicationModel">
		select <include refid="table_columns" />
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>
	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		select count(1) from 
		<include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultType="com.yffd.easy.uupm.api.model.UupmApplicationModel">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/> as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>
	<!-- 单条插入 -->
	<insert id="insertOne" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TENANT_CODE, APP_CODE, APP_CONTEXT_PATH, APP_DOMAIN, APP_NAME, APP_PORT, APP_STATUS, APP_TYPE, REMARK)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{tenantCode}, #{appCode}, #{appContextPath}, #{appDomain}, #{appName}, #{appPort}, #{appStatus}, #{appType}, #{remark})
	</insert>
	<!-- 批量插入 -->
	<insert id="insertList" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, TENANT_CODE, APP_CODE, APP_CONTEXT_PATH, APP_DOMAIN, APP_NAME, APP_PORT, APP_STATUS, APP_TYPE, REMARK)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},
		#{item.delFlag},
		#{item.createBy},
		#{item.createTime},
		#{item.updateBy},
		#{item.updateTime},
		#{item.tenantCode},
		#{item.appCode},
		#{item.appContextPath},
		#{item.appDomain},
		#{item.appName},
		#{item.appPort},
		#{item.appStatus},
		#{item.appType},
		#{item.remark})
		</foreach>
	</insert>
	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="paramPo != null">
			VERSION = VERSION + 1, 
			<if test="paramPo.delFlag != null and paramPo.delFlag != ''"> DEL_FLAG = #{paramPo.delFlag},  </if>
			<if test="paramPo.updateBy != null and paramPo.updateBy != ''"> UPDATE_BY = #{paramPo.updateBy},  </if>
			<if test="paramPo.updateTime != null"> UPDATE_TIME = #{paramPo.updateTime},  </if>
			<if test="paramPo.tenantCode != null and paramPo.tenantCode != ''"> TENANT_CODE = #{paramPo.tenantCode},  </if>
			<if test="paramPo.appCode != null and paramPo.appCode != ''"> APP_CODE = #{paramPo.appCode},  </if>
			<if test="paramPo.appContextPath != null and paramPo.appContextPath != ''"> APP_CONTEXT_PATH = #{paramPo.appContextPath},  </if>
			<if test="paramPo.appDomain != null and paramPo.appDomain != ''"> APP_DOMAIN = #{paramPo.appDomain},  </if>
			<if test="paramPo.appName != null and paramPo.appName != ''"> APP_NAME = #{paramPo.appName},  </if>
			<if test="paramPo.appPort != null and paramPo.appPort != ''"> APP_PORT = #{paramPo.appPort},  </if>
			<if test="paramPo.appStatus != null and paramPo.appStatus != ''"> APP_STATUS = #{paramPo.appStatus},  </if>
			<if test="paramPo.appType != null and paramPo.appType != ''"> APP_TYPE = #{paramPo.appType},  </if>
			<if test="paramPo.remark != null and paramPo.remark != ''"> REMARK = #{paramPo.remark},  </if>
		</if>
		</set>
		<where>
		<if test="paramPoOld != null">
			<if test="paramPoOld.version != null"> and VERSION = #{paramPoOld.version}  </if>
			<if test="paramPoOld.delFlag != null and paramPoOld.delFlag != ''"> and DEL_FLAG = #{paramPoOld.delFlag}  </if>
			<if test="paramPoOld.createBy != null and paramPoOld.createBy != ''"> and CREATE_BY = #{paramPoOld.createBy}  </if>
			<if test="paramPoOld.createTime != null"><![CDATA[ and CREATE_TIME = #{paramPoOld.createTime} ]]> </if>
			<if test="paramPoOld.id != null and paramPoOld.id != ''"> and ID = #{paramPoOld.id}  </if>
			<if test="paramPoOld.tenantCode != null and paramPoOld.tenantCode != ''"> and TENANT_CODE = #{paramPoOld.tenantCode}  </if>
			<if test="paramPoOld.appCode != null and paramPoOld.appCode != ''"> and APP_CODE = #{paramPoOld.appCode}  </if>
			<if test="paramPoOld.appContextPath != null and paramPoOld.appContextPath != ''"> and APP_CONTEXT_PATH = #{paramPoOld.appContextPath}  </if>
			<if test="paramPoOld.appDomain != null and paramPoOld.appDomain != ''"> and APP_DOMAIN = #{paramPoOld.appDomain}  </if>
			<if test="paramPoOld.appName != null and paramPoOld.appName != ''"> and APP_NAME = #{paramPoOld.appName}  </if>
			<if test="paramPoOld.appPort != null and paramPoOld.appPort != ''"> and APP_PORT = #{paramPoOld.appPort}  </if>
			<if test="paramPoOld.appStatus != null and paramPoOld.appStatus != ''"> and APP_STATUS = #{paramPoOld.appStatus}  </if>
			<if test="paramPoOld.appType != null and paramPoOld.appType != ''"> and APP_TYPE = #{paramPoOld.appType}  </if>
		</if>
		<!-- 非model属性：in条件处理拼写 -->
		<if test="paramMap != null">
			<if test="paramMap.appCodeList != null and paramMap.appCodeList.size()>0">
			and APP_CODE in <foreach item="item" index="index" collection="paramMap.appCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appContextPathList != null and paramMap.appContextPathList.size()>0">
			and APP_CONTEXT_PATH in <foreach item="item" index="index" collection="paramMap.appContextPathList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appDomainList != null and paramMap.appDomainList.size()>0">
			and APP_DOMAIN in <foreach item="item" index="index" collection="paramMap.appDomainList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appNameList != null and paramMap.appNameList.size()>0">
			and APP_NAME in <foreach item="item" index="index" collection="paramMap.appNameList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appPortList != null and paramMap.appPortList.size()>0">
			and APP_PORT in <foreach item="item" index="index" collection="paramMap.appPortList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appStatusList != null and paramMap.appStatusList.size()>0">
			and APP_STATUS in <foreach item="item" index="index" collection="paramMap.appStatusList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appTypeList != null and paramMap.appTypeList.size()>0">
			and APP_TYPE in <foreach item="item" index="index" collection="paramMap.appTypeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.idList != null and paramMap.idList.size()>0">
			and ID in <foreach item="item" index="index" collection="paramMap.idList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.tenantCodeList != null and paramMap.tenantCodeList.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="paramMap.tenantCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		<!-- 防止没有参数传递，导致全部更新 -->
		or 1=2
		</where>
	</update>
	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<if test="paramPo != null">
			<if test="paramPo.version != null "> and VERSION = #{paramPo.version} </if>
			<if test="paramPo.delFlag != null and paramPo.delFlag != ''"> and DEL_FLAG = #{paramPo.delFlag} </if>
			<if test="paramPo.createBy != null and paramPo.createBy != ''"> and CREATE_BY = #{paramPo.createBy} </if>
			<if test="paramPo.createTime != null "><![CDATA[ and CREATE_TIME = #{paramPo.createTime}]]> </if>
			<if test="paramPo.updateBy != null and paramPo.updateBy != ''"> and UPDATE_BY = #{paramPo.updateBy} </if>
			<if test="paramPo.updateTime != null "><![CDATA[ and UPDATE_TIME = #{paramPo.updateTime}]]> </if>
			<if test="paramPo.id != null and paramPo.id != ''"> and ID = #{paramPo.id} </if>
			<if test="paramPo.tenantCode != null and paramPo.tenantCode != ''"> and TENANT_CODE = #{paramPo.tenantCode} </if>
			<if test="paramPo.appCode != null and paramPo.appCode != ''"> and APP_CODE = #{paramPo.appCode} </if>
			<if test="paramPo.appContextPath != null and paramPo.appContextPath != ''"> and APP_CONTEXT_PATH = #{paramPo.appContextPath} </if>
			<if test="paramPo.appDomain != null and paramPo.appDomain != ''"> and APP_DOMAIN = #{paramPo.appDomain} </if>
			<if test="paramPo.appName != null and paramPo.appName != ''"> and APP_NAME = #{paramPo.appName} </if>
			<if test="paramPo.appPort != null and paramPo.appPort != ''"> and APP_PORT = #{paramPo.appPort} </if>
			<if test="paramPo.appStatus != null and paramPo.appStatus != ''"> and APP_STATUS = #{paramPo.appStatus} </if>
			<if test="paramPo.appType != null and paramPo.appType != ''"> and APP_TYPE = #{paramPo.appType} </if>
		</if>
		<!-- 非model属性：in条件处理拼写 -->
		<if test="paramMap != null">
			<if test="paramMap.appCodeList != null and paramMap.appCodeList.size()>0">
			and APP_CODE in <foreach item="item" index="index" collection="paramMap.appCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appContextPathList != null and paramMap.appContextPathList.size()>0">
			and APP_CONTEXT_PATH in <foreach item="item" index="index" collection="paramMap.appContextPathList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appDomainList != null and paramMap.appDomainList.size()>0">
			and APP_DOMAIN in <foreach item="item" index="index" collection="paramMap.appDomainList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appNameList != null and paramMap.appNameList.size()>0">
			and APP_NAME in <foreach item="item" index="index" collection="paramMap.appNameList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appPortList != null and paramMap.appPortList.size()>0">
			and APP_PORT in <foreach item="item" index="index" collection="paramMap.appPortList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appStatusList != null and paramMap.appStatusList.size()>0">
			and APP_STATUS in <foreach item="item" index="index" collection="paramMap.appStatusList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.appTypeList != null and paramMap.appTypeList.size()>0">
			and APP_TYPE in <foreach item="item" index="index" collection="paramMap.appTypeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.idList != null and paramMap.idList.size()>0">
			and ID in <foreach item="item" index="index" collection="paramMap.idList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
			<if test="paramMap.tenantCodeList != null and paramMap.tenantCodeList.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="paramMap.tenantCodeList" open="(" separator="," close=") ">#{item}</foreach>
			</if>
		</if>
		<!-- 防止没有参数传递，导致全部删除 -->
		or 1=2
		</where>
	</delete>
	<!-- ######################################################################### -->
	<!-- ##########################   common sql end    ########################## -->
	<!-- ######################################################################### -->

</mapper>
