<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.dao.UupmResourceDao">
	<!-- ######################################################################### -->
	<!-- ##############################   基础sql开始    ############################## -->
	<!-- ######################################################################### -->
	
	<resultMap id="resutlId" type="com.yffd.easy.uupm.api.model.UupmResourceModel">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="DEL_FLAG" property="delFlag" />
		<result column="CREATE_BY" property="createBy" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_BY" property="updateBy" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="APP_CODE" property="appCode" />
		<result column="PARENT_CODE" property="parentCode" />
		<result column="REMARK" property="remark" />
		<result column="RS_CODE" property="rsCode" />
		<result column="RS_NAME" property="rsName" />
		<result column="RS_PATH" property="rsPath" />
		<result column="RS_STATUS" property="rsStatus" />
		<result column="RS_TYPE" property="rsType" />
	</resultMap>

	<!-- 表名 -->
	<sql id="table_name"> uupm_resource </sql>

	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION, t.DEL_FLAG, t.CREATE_BY, t.CREATE_TIME, t.UPDATE_BY, t.UPDATE_TIME, t.ID, t.APP_CODE, t.PARENT_CODE, t.REMARK, t.RS_CODE, t.RS_NAME, t.RS_PATH, t.RS_STATUS, t.RS_TYPE
	</sql>

	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="pageParam != null"> limit #{pageParam.startIndex}, #{pageParam.pageLimit} </if></sql>

	<!-- 排序条件 -->
	<sql id="conditions_orderby"> ORDER BY t.CREATE_TIME desc </sql>

	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<!-- Equal query -->
		<if test="version != null "> and t.VERSION = #{version} </if>
		<if test="delFlag != null and delFlag != ''"> and t.DEL_FLAG = #{delFlag} </if>
		<if test="createBy != null and createBy != ''"> and t.CREATE_BY = #{createBy} </if>
		<if test="createTime != null "><![CDATA[ and t.CREATE_TIME = #{createTime}]]> </if>
		<if test="updateBy != null and updateBy != ''"> and t.UPDATE_BY = #{updateBy} </if>
		<if test="updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{updateTime}]]> </if>
		<if test="id != null and id != ''"> and t.ID = #{id} </if>
		<if test="appCode != null and appCode != ''"> and t.APP_CODE = #{appCode} </if>
		<if test="parentCode != null and parentCode != ''"> and t.PARENT_CODE = #{parentCode} </if>
		<if test="remark != null and remark != ''"> and t.REMARK = #{remark} </if>
		<if test="rsCode != null and rsCode != ''"> and t.RS_CODE = #{rsCode} </if>
		<if test="rsPath != null and rsPath != ''"> and t.RS_PATH = #{rsPath} </if>
		<if test="rsStatus != null and rsStatus != ''"> and t.RS_STATUS = #{rsStatus} </if>
		<if test="rsType != null and rsType != ''"> and t.RS_TYPE = #{rsType} </if>
		<!-- Like query -->
		<if test="rsName != null and rsName != ''"> and t.RS_NAME like CONCAT(CONCAT('%', #{rsName}), '%') </if>
	
		<!-- 非model属性：in条件处理拼写，要求List集合中的值能转换成key-value形式，例如map、自定义model对象等 -->
		<if test="idList != null and idList.size()>0">
		and ID in <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="appCodeList != null and appCodeList.size()>0">
		and APP_CODE in <foreach item="item" index="index" collection="appCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="parentCodeList != null and parentCodeList.size()>0">
		and PARENT_CODE in <foreach item="item" index="index" collection="parentCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsCodeList != null and rsCodeList.size()>0">
		and RS_CODE in <foreach item="item" index="index" collection="rsCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsNameList != null and rsNameList.size()>0">
		and RS_NAME in <foreach item="item" index="index" collection="rsNameList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsPathList != null and rsPathList.size()>0">
		and RS_PATH in <foreach item="item" index="index" collection="rsPathList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsStatusList != null and rsStatusList.size()>0">
		and RS_STATUS in <foreach item="item" index="index" collection="rsStatusList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsTypeList != null and rsTypeList.size()>0">
		and RS_TYPE in <foreach item="item" index="index" collection="rsTypeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
	
	</sql>

	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" />
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
		<include refid="conditions_limit" />
	</select>

	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		select count(1) from 
		<include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>

	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>

	<!-- 单条插入 -->
	<insert id="insertOne" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, APP_CODE, PARENT_CODE, REMARK, RS_CODE, RS_NAME, RS_PATH, RS_STATUS, RS_TYPE)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{appCode}, #{parentCode}, #{remark}, #{rsCode}, #{rsName}, #{rsPath}, #{rsStatus}, #{rsType})
	</insert>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, APP_CODE, PARENT_CODE, REMARK, RS_CODE, RS_NAME, RS_PATH, RS_STATUS, RS_TYPE)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},
		#{item.delFlag},
		#{item.createBy},
		#{item.createTime},
		#{item.updateBy},
		#{item.updateTime},
		#{item.appCode},
		#{item.parentCode},
		#{item.remark},
		#{item.rsCode},
		#{item.rsName},
		#{item.rsPath},
		#{item.rsStatus},
		#{item.rsType})
		</foreach>
	</insert>

	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="newParam != null">
			VERSION = VERSION + 1, 
			<if test="newParam.delFlag != null and newParam.delFlag != ''"> DEL_FLAG = #{newParam.delFlag},  </if>
			<if test="newParam.updateBy != null and newParam.updateBy != ''"> UPDATE_BY = #{newParam.updateBy},  </if>
			<if test="newParam.updateTime != null"> UPDATE_TIME = #{newParam.updateTime},  </if>
			<if test="newParam.appCode != null and newParam.appCode != ''"> APP_CODE = #{newParam.appCode},  </if>
			<if test="newParam.parentCode != null and newParam.parentCode != ''"> PARENT_CODE = #{newParam.parentCode},  </if>
			<if test="newParam.remark != null and newParam.remark != ''"> REMARK = #{newParam.remark},  </if>
			<if test="newParam.rsCode != null and newParam.rsCode != ''"> RS_CODE = #{newParam.rsCode},  </if>
			<if test="newParam.rsName != null and newParam.rsName != ''"> RS_NAME = #{newParam.rsName},  </if>
			<if test="newParam.rsPath != null and newParam.rsPath != ''"> RS_PATH = #{newParam.rsPath},  </if>
			<if test="newParam.rsStatus != null and newParam.rsStatus != ''"> RS_STATUS = #{newParam.rsStatus},  </if>
			<if test="newParam.rsType != null and newParam.rsType != ''"> RS_TYPE = #{newParam.rsType},  </if>
		</if>
		</set>
		<where>
		<if test="oldParam != null">
			<if test="oldParam.version != null"> and VERSION = #{oldParam.version}  </if>
			<if test="oldParam.delFlag != null and oldParam.delFlag != ''"> and DEL_FLAG = #{oldParam.delFlag}  </if>
			<if test="oldParam.createBy != null and oldParam.createBy != ''"> and CREATE_BY = #{oldParam.createBy}  </if>
			<if test="oldParam.createTime != null"><![CDATA[ and CREATE_TIME = #{oldParam.createTime} ]]> </if>
			<if test="oldParam.id != null and oldParam.id != ''"> and ID = #{oldParam.id}  </if>
			<if test="oldParam.appCode != null and oldParam.appCode != ''"> and APP_CODE = #{oldParam.appCode}  </if>
			<if test="oldParam.parentCode != null and oldParam.parentCode != ''"> and PARENT_CODE = #{oldParam.parentCode}  </if>
			<if test="oldParam.remark != null and oldParam.remark != ''"> and REMARK = #{oldParam.remark}  </if>
			<if test="oldParam.rsCode != null and oldParam.rsCode != ''"> and RS_CODE = #{oldParam.rsCode}  </if>
			<if test="oldParam.rsName != null and oldParam.rsName != ''"> and RS_NAME = #{oldParam.rsName}  </if>
			<if test="oldParam.rsPath != null and oldParam.rsPath != ''"> and RS_PATH = #{oldParam.rsPath}  </if>
			<if test="oldParam.rsStatus != null and oldParam.rsStatus != ''"> and RS_STATUS = #{oldParam.rsStatus}  </if>
			<if test="oldParam.rsType != null and oldParam.rsType != ''"> and RS_TYPE = #{oldParam.rsType}  </if>
		</if>
		<if test="oldInParam != null">
			<!-- 非model属性：in条件处理拼写，要求List集合中的值能转换成key-value形式，例如map、自定义model对象等 -->
			<if test="oldInParam.idList != null and oldInParam.idList.size()>0">
			and ID in <foreach item="item" index="index" collection="oldInParam.idList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.appCodeList != null and oldInParam.appCodeList.size()>0">
			and APP_CODE in <foreach item="item" index="index" collection="oldInParam.appCodeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.parentCodeList != null and oldInParam.parentCodeList.size()>0">
			and PARENT_CODE in <foreach item="item" index="index" collection="oldInParam.parentCodeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.rsCodeList != null and oldInParam.rsCodeList.size()>0">
			and RS_CODE in <foreach item="item" index="index" collection="oldInParam.rsCodeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.rsNameList != null and oldInParam.rsNameList.size()>0">
			and RS_NAME in <foreach item="item" index="index" collection="oldInParam.rsNameList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.rsPathList != null and oldInParam.rsPathList.size()>0">
			and RS_PATH in <foreach item="item" index="index" collection="oldInParam.rsPathList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.rsStatusList != null and oldInParam.rsStatusList.size()>0">
			and RS_STATUS in <foreach item="item" index="index" collection="oldInParam.rsStatusList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.rsTypeList != null and oldInParam.rsTypeList.size()>0">
			and RS_TYPE in <foreach item="item" index="index" collection="oldInParam.rsTypeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
		</if>
		<!-- 防止没有参数传递，导致全部更新 -->
		or 1=2
		</where>
	</update>

	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<!-- model属性： -->
		<if test="version != null "> and VERSION = #{version} </if>
		<if test="delFlag != null and delFlag != ''"> and DEL_FLAG = #{delFlag} </if>
		<if test="createBy != null and createBy != ''"> and CREATE_BY = #{createBy} </if>
		<if test="createTime != null "><![CDATA[ and CREATE_TIME = #{createTime}]]> </if>
		<if test="updateBy != null and updateBy != ''"> and UPDATE_BY = #{updateBy} </if>
		<if test="updateTime != null "><![CDATA[ and UPDATE_TIME = #{updateTime}]]> </if>
		<if test="id != null and id != ''"> and ID = #{id} </if>
		<if test="appCode != null and appCode != ''"> and APP_CODE = #{appCode} </if>
		<if test="parentCode != null and parentCode != ''"> and PARENT_CODE = #{parentCode} </if>
		<if test="remark != null and remark != ''"> and REMARK = #{remark} </if>
		<if test="rsCode != null and rsCode != ''"> and RS_CODE = #{rsCode} </if>
		<if test="rsName != null and rsName != ''"> and RS_NAME = #{rsName} </if>
		<if test="rsPath != null and rsPath != ''"> and RS_PATH = #{rsPath} </if>
		<if test="rsStatus != null and rsStatus != ''"> and RS_STATUS = #{rsStatus} </if>
		<if test="rsType != null and rsType != ''"> and RS_TYPE = #{rsType} </if>
		
		<!-- 非model属性：in条件处理拼写，要求List集合中的值能转换成key-value形式，例如map、自定义model对象等 -->
		<if test="idList != null and idList.size()>0">
		and ID in <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="appCodeList != null and appCodeList.size()>0">
		and APP_CODE in <foreach item="item" index="index" collection="appCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="parentCodeList != null and parentCodeList.size()>0">
		and PARENT_CODE in <foreach item="item" index="index" collection="parentCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsCodeList != null and rsCodeList.size()>0">
		and RS_CODE in <foreach item="item" index="index" collection="rsCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsNameList != null and rsNameList.size()>0">
		and RS_NAME in <foreach item="item" index="index" collection="rsNameList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsPathList != null and rsPathList.size()>0">
		and RS_PATH in <foreach item="item" index="index" collection="rsPathList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsStatusList != null and rsStatusList.size()>0">
		and RS_STATUS in <foreach item="item" index="index" collection="rsStatusList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="rsTypeList != null and rsTypeList.size()>0">
		and RS_TYPE in <foreach item="item" index="index" collection="rsTypeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		
		<!-- 防止没有参数传递，导致全部删除 -->
		or 1=2
		</where>
	</delete>

	<!-- ######################################################################### -->
	<!-- ##############################   基础sql结束    ############################## -->
	<!-- ######################################################################### -->

	<select id="selectResWithApp" parameterType="java.util.Map" resultType="java.util.Map">
		select APP_CODE, APP_NAME as RS_NAME, APP_CODE as RS_CODE,  '-1' PARENT_CODE, APP_STATUS as RS_STATUS, 'A' as RS_TYPE, '' RS_PATH, REMARK from uupm_application
		<where>
		<if test="appCode != null and appCode != ''"> and APP_CODE = #{appCode} </if>
		</where>
		union all
		select APP_CODE, RS_NAME, RS_CODE, PARENT_CODE, RS_STATUS, RS_TYPE, RS_PATH, REMARK from uupm_resource
		<where>
		<if test="rsType != null and rsType != ''"> and RS_TYPE = #{rsType} </if>
		<if test="appCode != null and appCode != ''"> and APP_CODE = #{appCode} </if>
		</where>
	</select>
	
</mapper>
