<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.uupm.dao.UupmTenantDao">
	<!-- ######################################################################### -->
	<!-- ##############################   基础sql开始    ############################## -->
	<!-- ######################################################################### -->
	
	<resultMap id="resutlId" type="com.yffd.easy.uupm.api.model.UupmTenantModel">
		<id column="ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="DEL_FLAG" property="delFlag" />
		<result column="CREATE_BY" property="createBy" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_BY" property="updateBy" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="END_TIME" property="endTime" />
		<result column="SERVE_TYPE" property="serveType" />
		<result column="START_TIME" property="startTime" />
		<result column="TENANT_CODE" property="tenantCode" />
		<result column="TENANT_NAME" property="tenantName" />
		<result column="TENANT_STATUS" property="tenantStatus" />
		<result column="TENANT_TYPE" property="tenantType" />
	</resultMap>

	<!-- 表名 -->
	<sql id="table_name"> uupm_tenant </sql>

	<!-- 列名 -->
	<sql id="table_columns">
		t.VERSION, t.DEL_FLAG, t.CREATE_BY, t.CREATE_TIME, t.UPDATE_BY, t.UPDATE_TIME, t.ID, t.END_TIME, t.SERVE_TYPE, t.START_TIME, t.TENANT_CODE, t.TENANT_NAME, t.TENANT_STATUS, t.TENANT_TYPE
	</sql>

	<!-- 分页条件 -->
	<sql id="conditions_limit"><if test="pageParam != null"> limit #{pageParam.pageStartRow}, #{pageParam.pageLimit} </if></sql>

	<!-- 排序条件 -->
	<sql id="conditions_orderby"> ORDER BY t.CREATE_TIME desc </sql>

	<!-- 动态组装复合查询条件 -->
	<sql id="conditions_where">
		<!-- Equal query -->
		<if test="version != null "> and t.VERSION = #{version} </if>
		<if test="delFlag != null and delFlag != ''"> and t.DEL_FLAG = #{delFlag} </if>
		<if test="createBy != null and createBy != ''"> and t.CREATE_BY = #{createBy} </if>
		<if test="createTime != null "><![CDATA[ and t.CREATE_TIME = #{createTime}]]> </if>
		<if test="updateBy != null and updateBy != ''"> and t.UPDATE_BY = #{updateBy} </if>
		<if test="updateTime != null "><![CDATA[ and t.UPDATE_TIME = #{updateTime}]]> </if>
		<if test="id != null and id != ''"> and t.ID = #{id} </if>
		<if test="endTime != null "><![CDATA[ and t.END_TIME = #{endTime}]]> </if>
		<if test="serveType != null and serveType != ''"> and t.SERVE_TYPE = #{serveType} </if>
		<if test="startTime != null "><![CDATA[ and t.START_TIME = #{startTime}]]> </if>
		<if test="tenantCode != null and tenantCode != ''"> and t.TENANT_CODE = #{tenantCode} </if>
		<if test="tenantStatus != null and tenantStatus != ''"> and t.TENANT_STATUS = #{tenantStatus} </if>
		<if test="tenantType != null and tenantType != ''"> and t.TENANT_TYPE = #{tenantType} </if>
		<!-- Like query -->
		<if test="tenantName != null and tenantName != ''"> and t.TENANT_NAME like CONCAT(CONCAT('%', #{tenantName}), '%') </if>
	
		<!-- 非model属性：in条件处理拼写，要求List集合中的值能转换成key-value形式，例如map、自定义model对象等 -->
		<if test="idList != null and idList.size()>0">
		and ID in <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="serveTypeList != null and serveTypeList.size()>0">
		and SERVE_TYPE in <foreach item="item" index="index" collection="serveTypeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantCodeList != null and tenantCodeList.size()>0">
		and TENANT_CODE in <foreach item="item" index="index" collection="tenantCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantNameList != null and tenantNameList.size()>0">
		and TENANT_NAME in <foreach item="item" index="index" collection="tenantNameList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantStatusList != null and tenantStatusList.size()>0">
		and TENANT_STATUS in <foreach item="item" index="index" collection="tenantStatusList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantTypeList != null and tenantTypeList.size()>0">
		and TENANT_TYPE in <foreach item="item" index="index" collection="tenantTypeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
	
	</sql>

	<!-- 条件查询 -->
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" />
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
		<include refid="conditions_orderby" />
	</select>

	<!-- 统计查询 -->
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		select count(1) from 
		<include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>

	<!-- 单条查询 -->
	<select id="selectOneBy" parameterType="java.util.Map" resultMap="resutlId">
		select <include refid="table_columns" /> 
		from <include refid="table_name"/>  as t 
		<where>
			<include refid="conditions_where" />
		</where>
	</select>

	<!-- 单条插入 -->
	<insert id="insertOne" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, END_TIME, SERVE_TYPE, START_TIME, TENANT_CODE, TENANT_NAME, TENANT_STATUS, TENANT_TYPE)
		values
		(#{version}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{endTime}, #{serveType}, #{startTime}, #{tenantCode}, #{tenantName}, #{tenantStatus}, #{tenantType})
	</insert>

	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.Map" keyProperty="id" useGeneratedKeys="true">
		insert into <include refid="table_name" />
		(VERSION, DEL_FLAG, CREATE_BY, CREATE_TIME, UPDATE_BY, UPDATE_TIME, END_TIME, SERVE_TYPE, START_TIME, TENANT_CODE, TENANT_NAME, TENANT_STATUS, TENANT_TYPE)
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(#{item.version},
		#{item.delFlag},
		#{item.createBy},
		#{item.createTime},
		#{item.updateBy},
		#{item.updateTime},
		#{item.endTime},
		#{item.serveType},
		#{item.startTime},
		#{item.tenantCode},
		#{item.tenantName},
		#{item.tenantStatus},
		#{item.tenantType})
		</foreach>
	</insert>

	<!-- 更新 -->
	<update id="updateBy" parameterType="java.util.Map">
		update <include refid="table_name" />
		<set>
		<if test="newParam != null">
			VERSION = VERSION + 1, 
			<if test="newParam.delFlag != null and newParam.delFlag != ''"> DEL_FLAG = #{newParam.delFlag},  </if>
			<if test="newParam.updateBy != null and newParam.updateBy != ''"> UPDATE_BY = #{newParam.updateBy},  </if>
			<if test="newParam.updateTime != null"> UPDATE_TIME = #{newParam.updateTime},  </if>
			<if test="newParam.endTime != null"> END_TIME = #{newParam.endTime},  </if>
			<if test="newParam.serveType != null and newParam.serveType != ''"> SERVE_TYPE = #{newParam.serveType},  </if>
			<if test="newParam.startTime != null"> START_TIME = #{newParam.startTime},  </if>
			<if test="newParam.tenantCode != null and newParam.tenantCode != ''"> TENANT_CODE = #{newParam.tenantCode},  </if>
			<if test="newParam.tenantName != null and newParam.tenantName != ''"> TENANT_NAME = #{newParam.tenantName},  </if>
			<if test="newParam.tenantStatus != null and newParam.tenantStatus != ''"> TENANT_STATUS = #{newParam.tenantStatus},  </if>
			<if test="newParam.tenantType != null and newParam.tenantType != ''"> TENANT_TYPE = #{newParam.tenantType},  </if>
		</if>
		</set>
		<where>
		<if test="oldParam != null">
			<if test="oldParam.version != null"> and VERSION = #{oldParam.version}  </if>
			<if test="oldParam.delFlag != null and oldParam.delFlag != ''"> and DEL_FLAG = #{oldParam.delFlag}  </if>
			<if test="oldParam.createBy != null and oldParam.createBy != ''"> and CREATE_BY = #{oldParam.createBy}  </if>
			<if test="oldParam.createTime != null"><![CDATA[ and CREATE_TIME = #{oldParam.createTime} ]]> </if>
			<if test="oldParam.id != null and oldParam.id != ''"> and ID = #{oldParam.id}  </if>
			<if test="oldParam.endTime != null"><![CDATA[ and END_TIME = #{oldParam.endTime} ]]> </if>
			<if test="oldParam.serveType != null and oldParam.serveType != ''"> and SERVE_TYPE = #{oldParam.serveType}  </if>
			<if test="oldParam.startTime != null"><![CDATA[ and START_TIME = #{oldParam.startTime} ]]> </if>
			<if test="oldParam.tenantCode != null and oldParam.tenantCode != ''"> and TENANT_CODE = #{oldParam.tenantCode}  </if>
			<if test="oldParam.tenantName != null and oldParam.tenantName != ''"> and TENANT_NAME = #{oldParam.tenantName}  </if>
			<if test="oldParam.tenantStatus != null and oldParam.tenantStatus != ''"> and TENANT_STATUS = #{oldParam.tenantStatus}  </if>
			<if test="oldParam.tenantType != null and oldParam.tenantType != ''"> and TENANT_TYPE = #{oldParam.tenantType}  </if>
		</if>
		<if test="oldInParam != null">
			<!-- 非model属性：in条件处理拼写，要求List集合中的值能转换成key-value形式，例如map、自定义model对象等 -->
			<if test="oldInParam.idList != null and oldInParam.idList.size()>0">
			and ID in <foreach item="item" index="index" collection="oldInParam.idList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.serveTypeList != null and oldInParam.serveTypeList.size()>0">
			and SERVE_TYPE in <foreach item="item" index="index" collection="oldInParam.serveTypeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.tenantCodeList != null and oldInParam.tenantCodeList.size()>0">
			and TENANT_CODE in <foreach item="item" index="index" collection="oldInParam.tenantCodeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.tenantNameList != null and oldInParam.tenantNameList.size()>0">
			and TENANT_NAME in <foreach item="item" index="index" collection="oldInParam.tenantNameList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.tenantStatusList != null and oldInParam.tenantStatusList.size()>0">
			and TENANT_STATUS in <foreach item="item" index="index" collection="oldInParam.tenantStatusList" open="(" separator="," close=")">#{item}</foreach>
			</if>
			<if test="oldInParam.tenantTypeList != null and oldInParam.tenantTypeList.size()>0">
			and TENANT_TYPE in <foreach item="item" index="index" collection="oldInParam.tenantTypeList" open="(" separator="," close=")">#{item}</foreach>
			</if>
		</if>
		<!-- 防止没有参数传递，导致全部更新 -->
		or 1=2
		</where>
	</update>

	<!-- 删除 -->
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from <include refid="table_name" />
		<where>
		<!-- model属性： -->
		<if test="version != null "> and VERSION = #{version} </if>
		<if test="delFlag != null and delFlag != ''"> and DEL_FLAG = #{delFlag} </if>
		<if test="createBy != null and createBy != ''"> and CREATE_BY = #{createBy} </if>
		<if test="createTime != null "><![CDATA[ and CREATE_TIME = #{createTime}]]> </if>
		<if test="updateBy != null and updateBy != ''"> and UPDATE_BY = #{updateBy} </if>
		<if test="updateTime != null "><![CDATA[ and UPDATE_TIME = #{updateTime}]]> </if>
		<if test="id != null and id != ''"> and ID = #{id} </if>
		<if test="endTime != null "><![CDATA[ and END_TIME = #{endTime}]]> </if>
		<if test="serveType != null and serveType != ''"> and SERVE_TYPE = #{serveType} </if>
		<if test="startTime != null "><![CDATA[ and START_TIME = #{startTime}]]> </if>
		<if test="tenantCode != null and tenantCode != ''"> and TENANT_CODE = #{tenantCode} </if>
		<if test="tenantName != null and tenantName != ''"> and TENANT_NAME = #{tenantName} </if>
		<if test="tenantStatus != null and tenantStatus != ''"> and TENANT_STATUS = #{tenantStatus} </if>
		<if test="tenantType != null and tenantType != ''"> and TENANT_TYPE = #{tenantType} </if>
		
		<!-- 非model属性：in条件处理拼写，要求List集合中的值能转换成key-value形式，例如map、自定义model对象等 -->
		<if test="idList != null and idList.size()>0">
		and ID in <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="serveTypeList != null and serveTypeList.size()>0">
		and SERVE_TYPE in <foreach item="item" index="index" collection="serveTypeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantCodeList != null and tenantCodeList.size()>0">
		and TENANT_CODE in <foreach item="item" index="index" collection="tenantCodeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantNameList != null and tenantNameList.size()>0">
		and TENANT_NAME in <foreach item="item" index="index" collection="tenantNameList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantStatusList != null and tenantStatusList.size()>0">
		and TENANT_STATUS in <foreach item="item" index="index" collection="tenantStatusList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		<if test="tenantTypeList != null and tenantTypeList.size()>0">
		and TENANT_TYPE in <foreach item="item" index="index" collection="tenantTypeList" open="(" separator="," close=")">#{item}</foreach>
		</if>
		
		<!-- 防止没有参数传递，导致全部删除 -->
		or 1=2
		</where>
	</delete>

	<!-- ######################################################################### -->
	<!-- ##############################   基础sql结束    ############################## -->
	<!-- ######################################################################### -->

</mapper>
