<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.yffd.easy.app.system.dao.impl.SysOrganizationDaoImpl">

	<!-- ##############################   基础sql开始   ############################## -->

	<resultMap id="resutlId" type="org.yffd.easy.app.system.model.SysOrganization">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="del_flag" property="delFlag" jdbcType="CHAR" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="editor" property="editor" jdbcType="VARCHAR" />
		<result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="p_code" property="parentCode" jdbcType="VARCHAR" />
		<result column="first_manager_code" property="firstManagerCode" jdbcType="VARCHAR" />
		<result column="second_manager_code" property="secondManagerCode" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="fax" property="fax" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="sys_organization_table"> sys_organization </sql>
	<sql id="sys_organization_columns"> id, version, del_flag, creater, create_time, editor, edit_time, remark,
	 name, code, p_code, first_manager_code, second_manager_code, tel, fax  </sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="sys_organization_where">
		<!-- Equal query -->
		<if test="code != null and code != ''"> and code= #{code} </if>
		<if test="parentCode != null and parentCode != ''"> and p_code= #{parentCode} </if>
		<!-- Like query -->
		<if test="name != null and name != ''"> and name like CONCAT(CONCAT('%', #{name}), '%') </if>
	</sql>
	
	<select id="selectByPK" parameterType="java.lang.String" resultMap="resutlId">
		select
		<include refid="sys_organization_columns"/>
		from
		<include refid="sys_organization_table" />
		where code = #{_parameter}
	</select>
	
	<!-- selectListBy、selectBy、selectAll -->
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		select
		<include refid="sys_organization_columns"/>
		from
		<include refid="sys_organization_table" />
		<where>
			<include refid="sys_organization_where" />
		</where>
	</select>
	
	<insert id="insert" parameterType="org.yffd.easy.app.system.model.SysOrganization" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="sys_organization_table" />
		(version, del_flag, creater, create_time, editor, edit_time, remark, 
		name, code, p_code, first_manager_code, second_manager_code, tel ,fax)
		values
		(0, #{delFlag}, #{creater}, #{createTime}, #{editor}, #{editTime}, #{remark}, 
		#{name}, #{code}, #{parentCode}, #{firstManagerCode}, #{secondManagerCode}, #{tel}, #{fax})
	</insert>
	
	<update id="updateByPK" parameterType="org.yffd.easy.app.system.model.SysOrganization">
		update <include refid="sys_organization_table" />
		<set>
			version = version + 1,
			editor = #{editor, jdbcType=VARCHAR},
			edit_time = #{editTime, jdbcType=TIMESTAMP},
			remark = #{remark, jdbcType=VARCHAR},
			name = #{name, jdbcType=VARCHAR},
			code = #{name, jdbcType=VARCHAR},
			p_code = #{parentCode, jdbcType=VARCHAR},
			first_manager_code = #{firstManagerCode, jdbcType=VARCHAR},
			second_manager_code = #{secondManagerCode, jdbcType=VARCHAR},
			tel = #{tel, jdbcType=VARCHAR},
			fax = #{fax, jdbcType=VARCHAR},
		</set>
		where code = #{code}
	</update>
	
	<delete id="deleteByPK" parameterType="java.lang.String">
		delete from
		<include refid="sys_organization_table" />
		where code = #{_parameter}
	</delete>
	
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from
		<include refid="sys_organization_table" />
		<where>
			<include refid="sys_organization_where" />
		</where>
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from
		<include refid="sys_organization_table" />
		where code in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item.id}</foreach>
	</delete>
	
	<!-- ##############################   基础sql结束    ############################## -->
	
</mapper>