<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.workflow.mapper.WorkFlowHistoryInstanceMapper">
	
	<resultMap id="resutlId" type="com.yffd.easy.workflow.model.dto.WorkFlowHistoryInstanceDTO">
		<id column="ID_" property="id" jdbcType="INTEGER" />
		<result column="START_TIME_" property="startTime" jdbcType="TIMESTAMP" />
		<result column="END_TIME_" property="endTime" jdbcType="TIMESTAMP" />
		<result column="START_USER_ID_" property="startUserId" jdbcType="VARCHAR" />
		<result column="PROC_INST_ID_" property="instanceId" jdbcType="VARCHAR" />
		<result column="PROC_DEF_ID_" property="definitionId" jdbcType="VARCHAR" />
		
		<result column="workFlowCategoryCode" property="workFlowCategoryCode" jdbcType="VARCHAR" />
		<result column="workFlowCategoryName" property="workFlowCategoryName" jdbcType="VARCHAR" />
		<result column="workFlowKey" property="workFlowKey" jdbcType="VARCHAR" />
		<result column="workFlowVersion" property="workFlowVersion" jdbcType="INTEGER" />
		<result column="workFlowDesc" property="workFlowDesc" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 动态组装复合查询条件 -->
	<sql id="act_hi_procinst_where">
		<!-- Equal query -->
		<if test="workFlowCategoryCode != null and workFlowCategoryCode != ''"> and def.CATEGORY_ = #{workFlowCategoryCode} </if>
		<if test="workFlowKey != null and workFlowKey != ''"> and def.KEY_ = #{workFlowKey} </if>
		<if test="startUserId != null and startUserId != ''"> and t1.START_USER_ID_ = #{startUserId} </if>
		<!-- Like query -->
		<if test="workFlowCategoryName != null and workFlowCategoryName != ''"> and def.NAME_ like CONCAT(CONCAT('%', #{workFlowCategoryName}), '%') </if>
	</sql>
	<sql id="act_hi_procinst_limit"><if test="pageParam != null"> limit #{pageParam.pageStartRow}, #{pageParam.pageLimit} </if></sql>
	
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		select t1.ID_, t1.PROC_INST_ID_, t1.PROC_DEF_ID_, t1.START_TIME_, t1.END_TIME_, t1.START_USER_ID_
		, def.CATEGORY_ workFlowCategoryCode, def.NAME_ workFlowCategoryName, def.KEY_ workFlowKey, def.VERSION_ workFlowVersion, def.DESCRIPTION_ workFlowDesc
		from act_hi_procinst t1
		left join act_re_procdef def on t1.PROC_DEF_ID_ = def.ID_
		<where>
			t1.END_TIME_ is not null
			<include refid="act_hi_procinst_where" />
		</where>
		<include refid="act_hi_procinst_limit" />
	</select>
	
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		SELECT count(1) FROM act_hi_procinst t1
		LEFT JOIN act_re_procdef def ON t1.PROC_DEF_ID_=def.ID_
		<where>
			<include refid="act_hi_procinst_where" />
		</where>
	</select>
	
</mapper>