<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.workflow.mapper.WorkFlowDefinitionMapper">

	<!-- 动态组装复合查询条件 -->
	<sql id="act_re_procdef_where">
		<!-- Equal query -->
		<if test="key != null and key != ''"> and t1.KEY_ = #{key} </if>
		<!-- Like query -->
		<if test="name != null and name != ''"> and t1.NAME_ like CONCAT(CONCAT('%', #{name}), '%') </if>
	</sql>
	<sql id="act_re_procdef_limit"><if test="pageParam != null"> limit #{pageParam.pageStartRow}, #{pageParam.pageLimit} </if></sql>
	
	<select id="selectListBy" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT t1.ID_, t1.CATEGORY_, t1.NAME_, t1.KEY_, t1.VERSION_, t1.RESOURCE_NAME_, t1.DGRM_RESOURCE_NAME_, t1.SUSPENSION_STATE_, t1.DEPLOYMENT_ID_, t2.DEPLOY_TIME_ 
		FROM act_re_procdef t1 LEFT JOIN act_re_deployment t2 ON t1.DEPLOYMENT_ID_=t2.ID_
		<if test="lastVersion">
			JOIN (SELECT KEY_, MAX(VERSION_) VERSION FROM act_re_procdef GROUP BY KEY_) t3
			ON t3.KEY_=t1.KEY_ and t3.VERSION=t1.VERSION_
		</if>
		<where>
			<include refid="act_re_procdef_where" />
		</where>
		<include refid="act_re_procdef_limit" />
	</select>
	
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		select count(1) from act_re_procdef t1
		<if test="lastVersion">
			JOIN (SELECT KEY_, MAX(VERSION_) VERSION FROM act_re_procdef GROUP BY KEY_) t3
			ON t3.KEY_=t1.KEY_ and t3.VERSION=t1.VERSION_
		</if>
		<where>
			<include refid="act_re_procdef_where" />
		</where>
	</select>
	
	<select id="selectByPK" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT t1.ID_, t1.NAME_, t1.KEY_, t1.VERSION_, t1.RESOURCE_NAME_, t1.DGRM_RESOURCE_NAME_, t1.SUSPENSION_STATE_, t1.DEPLOYMENT_ID_, t2.DEPLOY_TIME_ 
		FROM act_re_procdef t1 LEFT JOIN act_re_deployment t2 ON t1.DEPLOYMENT_ID_=t2.ID_
		where t1.ID_ = #{_parameter}
	</select>
	
</mapper>