<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.workflow.mapper.WorkFlowDefinitionMapper">
	<resultMap id="resutlId" type="com.yffd.easy.workflow.model.dto.WorkFlowDefinitionDTO">
		<id column="ID_" property="id" jdbcType="INTEGER" />
		<result column="RESOURCE_NAME_" property="resourceName" jdbcType="VARCHAR" />
		<result column="DGRM_RESOURCE_NAME_" property="dgrmResourceName" jdbcType="VARCHAR" />
		<result column="SUSPENSION_STATE_" property="definitionState" jdbcType="VARCHAR" />
		<result column="DEPLOYMENT_ID_" property="deploymentId" jdbcType="VARCHAR" />
		<result column="DEPLOY_TIME_" property="deployTime" jdbcType="TIMESTAMP" />
		
		<result column="workFlowCategoryCode" property="workFlowCategoryCode" jdbcType="VARCHAR" />
		<result column="workFlowCategoryName" property="workFlowCategoryName" jdbcType="VARCHAR" />
		<result column="workFlowKey" property="workFlowKey" jdbcType="VARCHAR" />
		<result column="workFlowVersion" property="workFlowVersion" jdbcType="INTEGER" />
		<result column="workFlowDesc" property="workFlowDesc" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 动态组装复合查询条件 -->
	<sql id="act_re_procdef_where">
		<!-- Equal query -->
		<if test="workFlowCategoryCode != null and workFlowCategoryCode != ''"> and def.CATEGORY_ = #{workFlowCategoryCode} </if>
		<if test="workFlowKey != null and workFlowKey != ''"> and def.KEY_ = #{workFlowKey} </if>
		<if test="definitionState != null and definitionState != ''"> and def.SUSPENSION_STATE_ = #{definitonState} </if>
		<if test="searchStartTime != null"><![CDATA[ and t1.DEPLOY_TIME_ >= #{searchStartTime} ]]></if>
		<if test="searchEndTime != null"><![CDATA[ and t1.DEPLOY_TIME_ <= #{searchEndTime} ]]></if>
		<!-- Like query -->
		<if test="workFlowCategoryName != null and workFlowCategoryName != ''"> and def.NAME_ like CONCAT(CONCAT('%', #{workFlowCategoryName}), '%') </if>
	</sql>
	<sql id="act_re_procdef_limit"><if test="pageParam != null"> limit #{pageParam.pageStartRow}, #{pageParam.pageLimit} </if></sql>
	
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		SELECT def.CATEGORY_ workFlowCategoryCode, def.NAME_ workFlowCategoryName, def.KEY_ workFlowKey, def.VERSION_ workFlowVersion, def.DESCRIPTION_ workFlowDesc, 
		def.ID_, def.RESOURCE_NAME_, def.DGRM_RESOURCE_NAME_, def.SUSPENSION_STATE_, def.DEPLOYMENT_ID_, t1.DEPLOY_TIME_ 
		FROM act_re_procdef def LEFT JOIN act_re_deployment t1 ON def.DEPLOYMENT_ID_=t1.ID_
		<if test="lastVersion">
			JOIN (SELECT KEY_, MAX(VERSION_) VERSION FROM act_re_procdef GROUP BY KEY_) t2
			ON t2.KEY_=def.KEY_ and t2.VERSION=def.VERSION_
		</if>
		<where>
			<include refid="act_re_procdef_where" />
		</where>
		<include refid="act_re_procdef_limit" />
	</select>
	
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		SELECT count(1) FROM act_re_procdef def LEFT JOIN act_re_deployment t1 ON def.DEPLOYMENT_ID_=t1.ID_
		<if test="lastVersion">
			JOIN (SELECT KEY_, MAX(VERSION_) VERSION FROM act_re_procdef GROUP BY KEY_) t2
			ON t2.KEY_=def.KEY_ and t2.VERSION=def.VERSION_
		</if>
		<where>
			<include refid="act_re_procdef_where" />
		</where>
	</select>
	
	<select id="selectByPK" parameterType="java.lang.String" resultMap="resutlId">
		SELECT def.CATEGORY_ workFlowCategoryCode, def.NAME_ workFlowCategoryName, def.KEY_ workFlowKey, def.VERSION_ workFlowVersion, def.DESCRIPTION_ workFlowDesc, 
		def.ID_, def.RESOURCE_NAME_, def.DGRM_RESOURCE_NAME_, def.SUSPENSION_STATE_, def.DEPLOYMENT_ID_, t1.DEPLOY_TIME_ 
		FROM act_re_procdef def LEFT JOIN act_re_deployment t1 ON def.DEPLOYMENT_ID_=t1.ID_
		where def.ID_ = #{_parameter}
	</select>
	
</mapper>