<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.workflow.mapper.WorkFlowInstanceMapper">
	
	<resultMap id="resutlId" type="com.yffd.easy.workflow.model.dto.WorkFlowInstanceDTO">
		<id column="ID_" property="id" jdbcType="INTEGER" />
		<result column="DEPLOYMENT_ID_" property="deployId" jdbcType="VARCHAR" />
		<result column="PROC_INST_ID_" property="instanceId" jdbcType="VARCHAR" />
		<result column="ACT_ID_" property="activityNodeId" jdbcType="VARCHAR" />
		<result column="SUSPENSION_STATE_" property="instanceState" jdbcType="VARCHAR" />
		<result column="PROC_DEF_ID_" property="definitionId" jdbcType="VARCHAR" />
		<result column="KEY_" property="definitionKey" jdbcType="VARCHAR" />
		<result column="NAME_" property="definitionName" jdbcType="VARCHAR" />
		<result column="CATEGORY_" property="definitionCategory" jdbcType="VARCHAR" />
		<result column="VERSION_" property="definitionVersion" jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- 动态组装复合查询条件 -->
	<sql id="act_ru_execution_where">
		<!-- Equal query -->
		<if test="procDefId != null and procDefId != ''"> and t1.PROC_DEF_ID_ = #{procDefId} </if>
		<if test="actId != null and actId != ''"> and t1.ACT_ID_ = #{actId} </if>
		<if test="actId != null and actId != ''"> and t1.SUSPENSION_STATE_ = #{actId} </if>
		<if test="actId != null and actId != ''"> and t1.CATEGORY_ = #{actId} </if>
		<if test="actId != null and actId != ''"> and t1.KEY_ = #{actId} </if>
		<!-- Like query -->
		<if test="name != null and name != ''"> and t1.NAME_ like CONCAT(CONCAT('%', #{name}), '%') </if>
	</sql>
	<sql id="act_ru_execution_limit"><if test="pageParam != null"> limit #{pageParam.pageStartRow}, #{pageParam.pageLimit} </if></sql>
	
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		SELECT t1.ID_, t1.PROC_INST_ID_, t1.PROC_DEF_ID_, t1.ACT_ID_, t1.SUSPENSION_STATE_, t2.CATEGORY_, t2.NAME_, t2.KEY_, t2.VERSION_, t2.DEPLOYMENT_ID_ 
		FROM act_ru_execution t1 LEFT JOIN act_re_procdef t2 ON t1.PROC_DEF_ID_=t2.ID_
		<where>
			<include refid="act_ru_execution_where" />
		</where>
		<include refid="act_ru_execution_limit" />
	</select>
	
	<select id="selectCountBy" parameterType="java.util.Map" resultType="long">
		SELECT count(1) FROM act_ru_execution t1
		LEFT JOIN act_re_procdef t2 ON t1.PROC_DEF_ID_=t2.ID_
		<where>
			<include refid="act_ru_execution_where" />
		</where>
	</select>
	
	<select id="selectByPK" parameterType="java.lang.String" resultMap="resutlId">
		SELECT t1.ID_, t1.PROC_INST_ID_, t1.PROC_DEF_ID_, t1.ACT_ID_, t1.SUSPENSION_STATE_, t2.CATEGORY_, t2.NAME_, t2.KEY_, t2.VERSION_, t2.DEPLOYMENT_ID_ 
		FROM act_ru_execution t1 LEFT JOIN act_re_procdef t2 ON t1.PROC_DEF_ID_=t2.ID_
		where t1.ID_ = #{_parameter}
	</select>
	
</mapper>