<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yffd.easy.admin.pms.dao.impl.PmsOrganizationDaoImpl">

	<!-- ##############################   基础sql开始   ############################## -->

	<resultMap id="resutlId" type="com.yffd.easy.admin.pms.model.PmsOrganization">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="VERSION" property="version" jdbcType="INTEGER" />
		<result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
		<result column="CREATER" property="creater" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="EDITOR" property="editor" jdbcType="VARCHAR" />
		<result column="EDIT_TIME" property="editTime" jdbcType="TIMESTAMP" />
		
		<result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
		<result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR" />
		<result column="PARENT_CODE" property="parentCode" jdbcType="VARCHAR" />
		<result column="FIRST_MANAGER_CODE" property="firstManagerCode" jdbcType="VARCHAR" />
		<result column="SECOND_MANAGER_CODE" property="secondManagerCode" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="pms_organization_table"> pms_organization </sql>
	<sql id="pms_organization_columns"> ID, VERSION, DEL_FLAG, CREATER, CREATE_TIME, EDITOR, EDIT_TIME,
	 ORG_NAME, ORG_CODE, PARENT_CODE, FIRST_MANAGER_CODE, SECOND_MANAGER_CODE, REMARK  </sql>
	 <sql id="pms_organization_limit"><if test="pageLimit != null and pageLimit != ''"> limit #{pageStartRow}, #{pageLimit} </if></sql>
	<!-- 动态组装复合查询条件 -->
	<sql id="pms_organization_where">
		<!-- Equal query -->
		<if test="orgCode != null and orgCode != ''"> and ORG_CODE= #{orgCode} </if>
		<if test="parentCode != null and parentCode != ''"> and PARENT_CODE= #{parentCode} </if>
		<!-- Like query -->
		<if test="orgName != null and orgName != ''"> and ORG_NAME like CONCAT(CONCAT('%', #{orgName}), '%') </if>
	</sql>
	
	<!-- selectListBy、selectAll -->
	<select id="selectListBy" parameterType="java.util.Map" resultMap="resutlId">
		select
		<include refid="pms_organization_columns"/>
		from
		<include refid="pms_organization_table" />
		<where>
			<include refid="pms_organization_where" />
		</where>
		<include refid="pms_organization_limit" />
	</select>
	
	<select id="selectByPK" parameterType="java.lang.String" resultMap="resutlId">
		select
		<include refid="pms_organization_columns"/>
		from
		<include refid="pms_organization_table" />
		where ID = #{_parameter}
	</select>
	
	<select id="selectOne" parameterType="java.util.Map" resultMap="resutlId">
		select
		<include refid="pms_organization_columns"/>
		from
		<include refid="pms_organization_table" />
		<where>
			<include refid="pms_organization_where" />
		</where>
	</select>
	
	<insert id="insert" parameterType="com.yffd.easy.admin.pms.model.PmsOrganization" keyProperty="id" useGeneratedKeys="true">
		insert into
		<include refid="pms_organization_table" />
		(VERSION, DEL_FLAG, CREATER, CREATE_TIME, EDITOR, EDIT_TIME,
		ORG_NAME, ORG_CODE, PARENT_CODE, FIRST_MANAGER_CODE, SECOND_MANAGER_CODE, REMARK)
		values
		(0, #{delFlag}, #{creater}, #{createTime}, #{editor}, #{editTime}, 
		#{orgName}, #{orgCode}, #{parentCode}, #{firstManagerCode}, #{secondManagerCode}, #{remark})
	</insert>
	
	<update id="updateByPK" parameterType="com.yffd.easy.admin.pms.model.PmsOrganization">
		update <include refid="pms_organization_table" />
		<set>
			VERSION = version + 1,
			EDITOR = #{editor, jdbcType=VARCHAR},
			EDIT_TIME = #{editTime, jdbcType=TIMESTAMP},
			ORG_NAME = #{orgName, jdbcType=VARCHAR},
			PARENT_CODE = #{parentCode, jdbcType=VARCHAR},
			FIRST_MANAGER_CODE = #{firstManagerCode, jdbcType=VARCHAR},
			SECOND_MANAGER_CODE = #{secondManagerCode, jdbcType=VARCHAR},
			REMARK = #{remark, jdbcType=VARCHAR},
		</set>
		where ORG_CODE = #{orgCode}
	</update>
	
	<delete id="deleteByPK" parameterType="java.lang.String">
		delete from
		<include refid="pms_organization_table" />
		where ORG_CODE = #{_parameter}
	</delete>
	
	<delete id="deleteBy" parameterType="java.util.Map">
		delete from
		<include refid="pms_organization_table" />
		<where>
			<include refid="pms_organization_where" />
		</where>
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from
		<include refid="pms_organization_table" />
		where ORG_CODE in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item.id}</foreach>
	</delete>
	
	<!-- ##############################   基础sql结束    ############################## -->
	
</mapper>